<div class="wrapper wrapper-content animated fadeInRight" ng-controller="NowCtrl as main">
    <div class="row white-bg text-center" style="z-index: 999;padding: 20px 20px 15px 20px;">
        <div class="col-sm-12">
            <div class="pull-left m-b-xs">
                <div class="btn-group">
                     <label for="month" class="btn btn-sm"
                        ng-class="main.period == 'month' ? 'btn-primary' : 'btn-white'">
                        <input type="radio" id="month" ng-change="main.updateLabel()"
                        name="options" ng-model="main.period" value="month"
                        style="display: none"> Month
                    </label>
                </div>
            </div>
            <div class="text-center" style="display: inline-block;">
                <div uib-dropdown id="dropDownCalendar">
                    <h3>
                        <a uib-dropdown-toggle id="aCalendar">
                            {{main.currentDayLabel}} <span class="caret"></span>
                        </a>
                    </h3>
                    <div uib-dropdown-menu="" id="menuCalendar"
                        ng-click="$event.preventDefault();$event.stopPropagation()">
                        <div date-picker ng-model="main.currentDay"
                            ng-change="main.updateLabel(main.currentDay)" auto-close="true"
                            view="date" min-view="date" max-view="date" first-day="1"
                            max-date="maxDate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <div class="pull-right">
                    <div data-toggle="buttons" class="btn-group">
                        <button type="button" class="btn btn-sm btn-white"
                            ng-click="main.goBack()">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-white"
                            ng-disabled="main.bThisPeriod" ng-click="main.goForward()">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-sm"
                        ng-class="main.bThisPeriod ? 'btn-primary' : 'btn-white'"
                        ng-click="main.goToday()">{{ main.todayBtnStr }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Yellow taxi</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.yellow.total_trips}}</h1>
                        <small>Total trips</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" >{{main.liveData.yellow.passenger_max}}</h1>
                        <small>Max passengers</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" >{{main.liveData.yellow.passenger_avg}}</h1>
                        <small>Avg passengers</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.yellow.Trip_distance_avg}} <small>mi</small></h1>
                        <small>Avg Trip distance</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.yellow.Trip_distance_max}} <small>mi</small></h1>
                        <small>Max Trip distance</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.yellow.Total_time_avg}} <small>min</small></h1>
                        <small>Avg trip time</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.yellow.Fare_amount_avg}} <small>$</small></h1>
                        <small>Avg fare amount</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.yellow.Total_amount_avg}} <small>$</small></h1>
                        <small>Avg total amount</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                
                    
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Green taxi</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.green.total_trips}}</h1>
                        <small>Total trips</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" >{{main.liveData.green.passenger_max}}</h1>
                        <small>Max passengers</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" >{{main.liveData.green.passenger_avg}}</h1>
                        <small>Avg passengers</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.green.Trip_distance_avg}} <small>mi</small></h1>
                        <small>Avg Trip distance</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.green.Trip_distance_max}} <small>mi</small></h1>
                        <small>Max Trip distance</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.green.Total_time_avg}} <small>min</small></h1>
                        <small>Avg trip time</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.green.Fare_amount_avg}} <small>$</small></h1>
                        <small>Avg fare amount</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.green.Total_amount_avg}} <small>$</small></h1>
                        <small>Avg total amount</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>FHV taxi</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.mp31.ModelRef}}</h1>
                        <small>Model Reference</small>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Hidraulica</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.mp31.OilTemp_oC}} <small>ºC</small></h1>
                        <small>OilTemp</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.ana.ActiveEnergy_Wh}} <small>Wh</small></h1>
                        <small>ActiveEnergy_Wh</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.ana.TotalPowerFactor_avg}} <small>kW</small></h1>
                        <small>TotalPowerFactor</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   