<div class="wrapper wrapper-content animated fadeInRight" ng-controller="Minor2Ctrl as main">
    <div class="row white-bg text-center" style="z-index: 999;padding: 20px 20px 15px 20px;" ng-controller="DateCtrl as dates">
        <div class="col-sm-12">
            <div class="pull-left m-b-xs">
                <div class="btn-group">
                    <label for="day" class="btn btn-sm"
                        ng-class="dates.period == 'day' ? 'btn-primary' : 'btn-white'">
                        <input type="radio" id="day" ng-change="dates.updateLabel()"
                        ng-model="dates.period" name="options" value="day"
                        style="display: none"> Day
                    </label> <label for="week" class="btn btn-sm"
                        ng-class="dates.period == 'week' ? 'btn-primary' : 'btn-white'">
                        <input type="radio" id="week" ng-change="dates.updateLabel()"
                        name="options" ng-model="dates.period" value="week"
                        style="display: none"> Week
                    </label> <label for="month" class="btn btn-sm"
                        ng-class="dates.period == 'month' ? 'btn-primary' : 'btn-white'">
                        <input type="radio" id="month" ng-change="dates.updateLabel()"
                        name="options" ng-model="dates.period" value="month"
                        style="display: none"> Month
                    </label>
                </div>
            </div>
            <div class="text-center" style="display: inline-block;">
                <div uib-dropdown id="dropDownCalendar">
                    <h3>
                        <a uib-dropdown-toggle id="aCalendar">
                            {{dates.currentDayLabel}} <span class="caret"></span>
                        </a>
                    </h3>
                    <div uib-dropdown-menu="" id="menuCalendar"
                        ng-click="$event.preventDefault();$event.stopPropagation()">
                        <div date-picker ng-model="dates.currentDay"
                            ng-change="dates.updateLabel(dates.currentDay)" auto-close="true"
                            view="date" min-view="date" max-view="date" first-day="1"
                            max-date="maxDate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <div class="pull-right">
                    <div data-toggle="buttons" class="btn-group">
                        <button type="button" class="btn btn-sm btn-white"
                            ng-click="dates.goBack()">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-white"
                            ng-disabled="dates.bThisPeriod" ng-click="dates.goForward()">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-sm"
                        ng-class="dates.bThisPeriod ? 'btn-primary' : 'btn-white'"
                        ng-click="dates.goToday()">{{ dates.todayBtnStr }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-line-chart fa-lg"></i> Signal viewer</h5>
                    <ibox-tools data-config="false"></ibox-tools>
                </div>
                <div class="ibox-content">
                    <p class="text-center">Visualize data</p>
                    <div>
                        <div class="flot-chart" style="height: 400px">
                            <div id="traceChart" flot class="flot-chart-content" dataset="main.flotMultiData" options="main.flotMultiOptions"></div>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 0px; margin-right: 0px; margin-bottom: 5px">
                        <div class="pull-left" style="width: 302px">You can select up to 1 Mold Ref. <b>{{1-main.program.length}} remaining</b></div>
                        <div class="pull-left" style="width: 300px">You can select up to 3 signals. <b>{{3-main.varsToDisplay.length}} remaining</b></div>
                    </div>
                    <div class="row" style="margin-left: 0px; margin-right: 0px; margin-bottom: 15px">
                        <div class="form-inline pull-left">
                            <div class="form-group">
                                <ui-select multiple ng-model="main.program" ng-change="main.onSelProgChanged()" theme="bootstrap" limit="1" style="width: 300px;">
                                    <ui-select-match placeholder="{{main.progsInPeriod.length > 0 ? 'Select one or more part programs' : 'No programs in selected period'}}">{{$item}}</ui-select-match>
                                    <ui-select-choices group-by="'type'" repeat="program in main.progsInPeriod | filter:$select.search">
                                        {{program}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group ">
                                <ui-select multiple ng-model="main.varsToDisplay" ng-change="main.onSelProgChanged()" theme="bootstrap" limit="3" style="width: 300px;">
                                    <ui-select-match placeholder="{{main.availableVars.length > 0 ? 'Select one or more variables' : 'No variables in selected period'}}">{{$item}}</ui-select-match>
                                    <ui-select-choices group-by="'type'" repeat="var in main.availableVars | filter:$select.search">
                                        {{var}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <button ng-click="main.onDisplay()" ng-disabled=" main.varsToDisplay.length == 0" class="btn btn-primary" style="margin-bottom: 0"><i class="fa fa-line-chart"></i> Display</button>
                        </div>
                    </div>
                <div>
            </div>
        </div>
    </div>
</div> 
</div>
</div>