<nav class="navbar-default navbar-static-side" role="navigation" style="background: white">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="profile-element" uib-dropdown>
                        <center><img alt="image" src="img/nyc-tlc-logo.png"/></center>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>

            <li ui-sref-active="active">
                <a ui-sref="indexSystem.mainSystem"><i class="fa fa-tachometer fa-2x"></i> <span class="nav-label">Load</span> </a>
            </li>
        </ul>
    </div>
</nav>
