<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <!--<ul class="nav navbar-top-links navbar-left">
            <li>
                <font color="white">{{main.liveData.time}}</font>
        </ul>-->
        <ul class="nav navbar-top-links navbar-left">
            <li>
                <a ui-sref="indexSystem.mainSystem">
                    Loading
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-left">
            <li>
                <a ui-sref="index.main">
                    MP31
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-left">
            <li>
                <a ui-sref="indexMP32.mainMP32">
                    MP32
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="/Taxi/">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>
