<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0" ng-controller="TopNavController as navCtrl">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <!--<ul class="nav navbar-top-links navbar-left">
            <li>
                <font color="white">{{main.liveData.time}}</font>
        </ul>-->
        <ul class="nav navbar-top-links navbar-left">
            <li>
                <a ui-sref="indexSystem.mainSystem">
                    Load
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-left">
            <li>
                <a ui-sref="index.main">
                    Visualization
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href ng-click="navCtrl.DoLogout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>
