<!--<div class="wrapper wrapper-content animated fadeInRight" ng-controller="Minor2Ctrl as main">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content"> 
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="table-responsive">
                                <table id="alarms" class="table table-striped table-bordered datatable-example" datatable="ng" dt-options="dtOptions">
                                    <thead>
                                        <tr>
                                            <th id="alarmIdHdr">Alarm #</th>
                                            <th id="alarmDescrHdr">Description</th>
                                            <th id="alarmDescrHdr">Machine</th>
                                            <th id="alarmLevelHdr">Timestamp</th>
                                            <th id="alarmLevelHdr">Checked</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-model="alarms">
                                        <tr style="cursor:pointer" ng-repeat="alarm in main.alarms.alarms" ng-click="toggleDetail()">
                                            <td>{{ alarm.alarm }}</td>
                                            <td>{{ alarm.description}}</td>
                                            <td>{{ alarm.machine }} {{ alarm.machine_part }}</td>
                                            <td>{{ alarm.timestamp }}</td>
                                            <td>{{ alarm.checked }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Intensificador 3</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.int3.SH09Temp_oC_avg}} <small>ºC</small></h1>
                        <small>SH09Temp (avg)</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.int3.SH09Leak_mL}} <small>mL</small></h1>
                        <small>SH09Leak</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.int3.SH10Temp_oC_avg}} <small>ºC</small></h1>
                        <small>SH10Temp (avg)</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.int3.SH10Leak_mL}} <small>mL</small></h1>
                        <small>SH10Leak</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div>
                        <img alt="image" src="img/intensificador3.png"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Intensificador 3</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.int3.SH11Temp_oC_avg}} <small>ºC</small></h1>
                        <small>SH11Temp (avg)</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.int3.SH11Leak_mL}} <small>mL</small></h1>
                        <small>SH11Leak</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.int3.SH12Temp_oC_avg}} <small>ºC</small></h1>
                        <small>SH12Temp (avg)</small>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{main.liveData.int3.SH12Leak_mL}} <small>mL</small></h1>
                        <small>SH12Leak</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   -->  